.btn-normal
    display: inline-block
    background-color: $primary-color !important
    color: $white-color !important
    text-transform: capitalize !important
    margin: 0.5rem 0
    padding: 0.5rem 1.5rem
    border-radius: 2rem
    border: 0
    cursor: pointer
    font-family: $heading-bold-font
    // font-size: 1.25rem
    transition: all 0.3s ease
    &:hover, &:focus
        text-decoration: none
        box-shadow: 0 0 3rem lighten($normal-color, 40%)
        color: $white-color
        opacity: 0.9

.btn-search
    background-color: $secondary-color
    color: $white-color
    display: inline-block
    width: 4rem
    border: 0
    border-radius: 0 0.5rem 0.5rem 0
    padding: 0.5rem 1rem
    cursor: pointer
    transition: all 0.3s ease
    svg
        width: 32px
        height: 30px
    &:active, &:focus, &:hover
        outline: none
        background-color: lighten($secondary-color, 10%)

.btn-fb__login
    background-color: $fb-color

.btn-google__login
    background-color: $google-color

.btn-signin
    cursor: pointer
    display: block
    border: 0
    margin: 1rem auto

.btn-dropdown
    display: inline-block
    margin: 0.5rem 0
    padding: 0.5rem 0.5rem
    border-radius: 0.25rem
    background-color: $white-color
    border: 1px solid lighten($normal-color, 50%)
    cursor: pointer
    .dropdown-toggle:after


.btn-upload__wrapper
    position: relative
    overflow: hidden
    text-align: center
    input
        position: absolute
        top: 0.5rem
        left: -3rem
        bottom: 0
        opacity: 0
        cursor: pointer
        display: inline-block
        // z-index: -1

.edit-btn
    position: absolute
    top: 0.5rem
    right: 1rem
    display: inline-block
    // width: 2rem
    // height: 2rem
    // border: 1px solid $light-gray
    // border-radius: 1rem

.icon-edit, .icon_edit
    // background: url('../images/icons/icon-edit.svg') no-repeat top left
    width: 1.25rem
    height: 1.25rem
    margin-top: 0.5rem
    margin-right: 0.5rem
    display: inline-block
    cursor: pointer
    opacity: 0
    background: $normal-color
    mask: url('../images/icons/icon-edit.svg')
    &:hover, &:focus
        background: $primary-color

.icon-add
    @extend .icon-edit
    mask: url('../images/icons/icon-add.svg')

.icon-delete
    @extend .icon-edit
    mask: url('../images/icons/icon-delete.svg')     