.main-footer
    background-color: lighten($normal-color, 20%)
    color: $white-color

.footer-nav
    margin-top: 1rem
    margin-bottom: 1rem
    a
        color: $white-color
        display: block
        font-size: 0.875rem
        opacity: 0.8

.mobile-apps
    a img
        display: inline-block
        max-width: 10rem    

.social-networks
    display: flex
    justify-content: center
    align-items: center
    a
        width: 2.25rem
        height: 2.25rem
        background-color: $white-color
        border-radius: 1.5rem
        margin: 0 0.5rem
        display: flex
        justify-content: center
        align-items: center
        &:hover, &:focus
            background-color: $primary-color
        &:hover svg, &:hover svg
            fill: $white-color
            stroke: $white-color
    a img
        max-width: 1rem
    a svg
        fill: $normal-color
        stroke: $normal-color
        width: 1rem
    a:first-of-type svg
        max-height: 1.25rem


.footer-copyright
    font-size: 0.875rem
    margin-bottom: 0  