
.header-logo
    max-width: 12rem

header
    .btn-normal
        margin: 0.25rem auto

.main-nav
    box-shadow: 0 2px 1rem $light-gray
    // z-index: 1
    .navbar-toggler
        border: 0
    .nav-item.active .nav-link
        color: $primary-color
        border-bottom: 2px solid $primary-color
    .nav-link
        font-family: $heading-bold-font
        transition: all 0.3s ease
        border-bottom: 2px solid transparent
        &:hover, &:focus
            color: $primary-color !important
            border-bottom: 2px solid $primary-color
    
.country-flag
    height: 1rem
    width: 1rem
    display: inline-block
    margin-top: -3px
    margin-right: 0.25rem

.country-flag__dropdown
    // min-width: 18rem
    max-width: 18rem
    font-size: 0.875rem
    .dropdown-item
        display: inline-block
        color: lighten($normal-color, 25%)
    .dropdown-item:first-child, .dropdown-item:last-child
        border-radius: 0
    .dropdown-item:hover, .dropdown-item:focus
        // background-color: $primary-color
        color: $primary-color
    .dropdown-item.active
        background-color: $primary-color
        border-radius: 0
        color: $white-color
    // .signin-countries
    //     columns: 2
    //     column-gap: 0.25rem

.social-login
    li
        list-style: none
        text-align: center

.after-separator
    position: relative
    padding-right: 0.5rem
    &:after
        position: absolute
        content: ''
        display: inline-block
        height: 1.5rem
        background-color: lighten($normal-color, 50%)
        width: 2px
        top: 50%
        right: 0.25rem
        bottom: 0
        transform: translateY(-50%)

.bar
  height: 2px
  background: lighten($normal-color, 20%)
  margin: 6px 0
  position: relative
  display: block

.bar1
  width: 32px
  transition: .2s
  transition-delay: .2s

.bar2
  width: 26px
  left: 6px
  transition: .3s
  transition-delay: .1s

.bar3
  width: 32px
  left: 0px
  transition: .2s
  transition-delay: .2s

.change .bar1 
  transform: rotate(45deg) translate(2px, 7px)

.change .bar2
    transform: translate(-10000px, 0)

.change .bar3
  transform: rotate(-45deg) translate(5px, -9px)

.logged-profile
    display: inline-block  
    .nav-item
        display: inline-block
    .nav-link
        font-family: $heading-bold-font
        transition: all 0.3s ease
        border-bottom: 0
        padding: 0
        &:hover, &:focus
            border-bottom: 0
            opacity: 0.85

.notification
    position: relative
    margin-top: 0.625rem
    margin-right: 0.5rem
    height: 38px

.icon-bell
    stroke: $primary-color
    width: 16px
    height: 16px
    path
        fill: $primary-color

.notification-number
    position: absolute
    width: 16px        
    height: 16px
    border-radius: 16px
    background-color: $secondary-color
    color: $white-color
    font-size: 0.6255rem
    font-family: $normal-font
    text-align: center
    display: inline-block
    top: 0
    left: 16px
    padding-top: 2px

.icon-profile
    width: 48px
    height: 48px
    border-radius: 48px
    border: 1px solid lighten($normal-color, 50%)


.navbar-nav .nav-dropdown
    position: absolute !important
    box-shadow: 0 1px 8px rgba($light-gray, 0.75)
    margin-top: 0.5rem
    // &:before
    //     position: absolute
    //     content: ''
    //     top: -10px
    //     right: 25px
    //     width: 0
    //     height: 0
    //     border-left: 5px solid transparent
    //     border-right: 5px solid transparent
    //     border-bottom: 10px solid $light-gray


.dropdown-list
    padding: 0
    &:before
        position: absolute
        content: ''
        top: -10px
        right: 25px
        // width: 0
        // height: 0
        // border-left: 5px solid transparent
        // border-right: 5px solid transparent
        // border-bottom: 10px solid $light-gray
        top: -6px
        width: 10px
        height: 10px
        border-left: 1px solid #ccc
        border-top: 1px solid #ccc
        transform: rotate(45deg)
        background-color: $white-color
    li
        list-style: none
    a
        color: lighten($normal-color, 25%)
        padding: 0.5rem 1rem
        font-size: 0.875rem
        display: block
        &:hover, &:focus
            background-color: lighten($primary-color, 65%)
            color: $primary-color
            text-decoration: none

.country-flag__dropdown
    .dropdown-list
        &:before
            right: auto
            left: 25px

.notification-dropdown
    min-width: 24rem !important
    font-size: 0.875rem
    color: lighten($normal-color, 25%)
    .dropdown-list
        &:before
            right: auto
            right: 18px

.notification-dropdown
    .dropdown-list
    li
        // padding: 0.75rem 0
        &:hover, &:focus
            background-color: lighten($primary-color, 65%)
    li .col-2
        padding: 0.75rem 0
    li .col-10
        padding: 0.75rem 0
        border-bottom: 1px solid lighten($normal-color, 70%)
    li:last-child .col-10
        border-bottom: 0
    a
        display: inline-block
        color: $primary-color
        padding: 0
        &:hover, &:focus
            background-color: transparent

.notification-from
    width: 32px
    height: 32px
    object-fit: contain
    padding: 0.25rem
    border-radius: 0.25rem
    border: 1px solid lighten($normal-color, 60%)
    background-color: $white-color
    margin-top: 0.25rem

// Error messages
.server_errors
    text-align: center
    color: $secondary-color
    margin-top: 1rem