
@media (max-width: 419px)
    .header-logo
        max-width: 6.5rem

@media (max-width: 575px)
    .job-list .col-sm-10
        padding-left: 1rem        

@media (max-width: 767px)
    .search-form
        .search-location:before
            display: none
    .img-banner
        max-height: 6rem
    .overflow-y
        overflow-y: hidden
        height: auto

        
@media (max-width: 992px)
    .after-separator
        &:after
            background: none
    .notification
        margin-right: 1rem
    .notification-number
        left: 8px

@media (min-width: 992px) and (max-width: 1024px)
    .main-nav
        .nav-link
            padding-left: 0.25rem
            padding-right: 0.25rem
            font-size: 0.875rem
        .btn-normal
            padding: 0.5rem

@media (min-width: 1024px) and (max-width: 1200px)
    .main-nav
        .nav-link
            font-size: 0.875rem
    .btn-normal
            padding: 0.5rem