#signIn, #forgotPassword
    .modal-header
        border-bottom: none
        padding-bottom: 0

.social-login
    padding-left: 0
    margin-bottom: 0    

.sigin-terms
    text-align: center
    font-size: 0.75rem 
    padding: 1rem 0
    color: lighten($normal-color, 25%)
    a
        color: $primary-color

.signin-email
    h5
        text-align: center
        position: relative
        margin-left: 2.5rem
        margin-right: 2.5rem
        z-index: 1
        &:before
            position: absolute
            content: ''
            display: inline-block
            background: $white-color
            padding: 0.75rem 2.5rem
            margin: 0 auto
            width: 3rem
            text-align: center
            z-index: -1
            top: 0
            left: 50%
            transform: translateX(-50%)
        &:after
            position: absolute
            content: ''
            height: 1px
            width: 100%
            display: block
            margin: 0 auto
            top: 50%
            left: 0
            right: 0
            background-color: lighten($normal-color, 60%)
            transform: translateY(-50%)
            z-index: -2

.signin-form
    input
        border: 0
        border-bottom: 1px solid lighten($normal-color, 50%)
        border-radius: 0
        display: block
        width: 100%
        margin-bottom: 1rem
        padding: 0.5rem 0.5rem 0.5rem 0.25rem
        &::placeholder
            color: lighten($normal-color, 50%)
        &:focus
            outline: none
            box-shadow: none
            border-color: $primary-color
            caret-color: $primary-color
    .form-check-input
        display: inline-block !important
        width: auto
        margin-bottom: 0

.forgot-password
    font-size: 0.875rem
    color: $primary-color

.signin-toggle
    color:  lighten($normal-color, 25%)
    text-align: center
    font-size: 0.875rem
    a
        color: $primary-color

.center-header
    width: 100%
    display: inline-block
    text-align: center    

.modal
    overflow-y: scroll !important    

.close-modal
    position: absolute
    top: 1rem
    right: 1rem

.modal-header
    border-bottom: 0

.modal-footer
    border-top: 0
