
.img-profile__update
    &:hover
        cursor: pointer    

.img-profile__camera
    filter: invert(1)
    width: 2rem
    height: 2rem
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer    

.custom-radio
    label
        margin-bottom: 0

.profile-v-card
    box-shadow: none !important  

.profile-steps
    .profile-image
        margin-top: 0
        overflow: hidden      

.vue-tel-input
    border-radius: 0 !important
    border: 0 !important
    border-bottom: 1px solid rgba(0,0,0,.42) !important
    padding-bottom: 1px
    &:focus-within
        box-shadow: none !important
        border-bottom: 2px solid #1976d2 !important
        box-sizing: border-box
        padding-bottom: 0
        caret-color: #1976d2
        & label
            color: #1976d2
    .dropdown
        padding-left: 0 !important

.custom-flex
    display: flex
    label
        transform: translateY(10px) scale(0.75)
        transform-origin: left
        color: rgba(0,0,0,.54)
    .form-group
        width: 100%
    .v-input__prepend-outer
        align-items: flex-end
        margin-bottom: 18px

// overwrite
.application
    font-family: $normal-font !important

//.theme--light.v-sheet, .theme--light.v-card
//    background-color: transparent !important

.v-dialog--active    
    .theme--light.v-sheet, .theme--light.v-card
        background-color: $white-color !important
        
.editing
    .v-text-field.v-text-field--enclosed>.v-input__control>.v-input__slot
        padding-left: 0
    .theme--light.v-text-field--box>.v-input__control>.v-input__slot
        background: transparent !important
    .v-text-field--box>.v-input__control>.v-input__slot:before
        border-width: thin 0 0

.job-list .d-flex>*
    flex: none !important

.search-form input
    color: $normal-color
