<template>
    <v-app>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            class="search-header"
        >
            <v-container >
            <v-layout row wrap
                      class="search-form"
            >


                        <v-flex sm3>
                            <v-autocomplete
                                v-model="source"
                                :hint="`Source`"
                                :items="cities"
                                item-text="name"
                                item-value="id"
                                :label="`From`"
                                persistent-hint
                                prepend-icon="mdi-city"
                                required
                                :rules="sourceRules"
                            >
                            </v-autocomplete>
                        </v-flex>
                        <v-flex sm3>
                            <v-autocomplete
                                v-model="destination"
                                :hint="`Destination`"
                                :items="cities"
                                item-text="name"
                                item-value="id"
                                :label="`To`"
                                persistent-hint
                                required
                                prepend-icon="mdi-city"
                                :rules="destRules"
                            >
                            </v-autocomplete>
                        </v-flex>
                        <v-flex sm3>
                            <v-menu
                                v-model="menu2"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                            >
                                <v-text-field
                                    slot="activator"
                                    v-model="date"
                                    label="Date"
                                    hint="Departure"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                ></v-text-field>
                                <v-date-picker :min="todaydate" v-model="date" @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                        <!--<v-flex >-->
                        <!--<v-checkbox v-model="day" :label="`Day: ${day.toString()}`"></v-checkbox>-->
                        <!--<v-checkbox v-model="night" :label="`Night: ${night.toString()}`"></v-checkbox>-->
                        <!--</v-flex>-->
                        <v-flex sm3 class="text-xs-center">
                            <v-btn color="secondary" :disabled="!valid" @click.prevent="search">Modify Search</v-btn>
                        </v-flex>

            </v-layout>
            </v-container>

        </v-form>



        <!--filter toolbar-->
        <v-toolbar class="elevation-0" color="#fff">
            <v-layout row>
                <v-flex>
                    <v-container>
                        <v-menu offset-y>
                            <template>
                                <a slot="activator">
                                    Bus Types <i class="fa fa-caret-down px-1"></i>
                                </a>
                            </template>
                            <v-list>
                                <v-list-tile
                                    v-for="(item, index) in all_bus_types"
                                    :key="index"
                                    @click.prevent="filter('bus_types',item)"
                                >
                                    <v-list-tile-action>
                                        <v-checkbox v-model="filters.bus_types" @click.prevent="" :value="item"></v-checkbox>
                                    </v-list-tile-action>
                                    <v-list-tile-title>{{ item }}</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                        <v-menu offset-y>
                            <template>
                                <a slot="activator">
                                    Travel Operators <i class="fa fa-caret-down px-1"></i>
                                </a>
                            </template>
                            <v-list>
                                <v-list-tile
                                    v-for="(item, index) in all_travel_operators"
                                    :key="index"
                                    @click.prevent="filter('travel_operators',item)"
                                >
                                    <v-list-tile-action>
                                        <v-checkbox v-model="filters.travel_operators" @click.prevent=""
                                                    :value="item"></v-checkbox>
                                    </v-list-tile-action>
                                    <v-list-tile-title>{{ item }}</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                        <v-menu offset-y>
                            <template>
                                <a slot="activator">
                                    Boarding Points <i class="fa fa-caret-down px-1"></i>
                                </a>
                            </template>
                            <v-list>
                                <v-list-tile
                                    v-for="(item, index) in all_boarding_points"
                                    :key="index"
                                    @click.prevent="filter('boarding_points',item)"
                                >
                                    <v-list-tile-action>
                                        <v-checkbox v-model="filters.boarding_points" @click.prevent=""
                                                    :value="item"></v-checkbox>
                                    </v-list-tile-action>
                                    <v-list-tile-title>{{ item }}</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                        <v-menu offset-y>
                            <template>
                                <a slot="activator">
                                    Dropping Points <i class="fa fa-caret-down px-1"></i>
                                </a>
                            </template>
                            <v-list>
                                <v-list-tile
                                    v-for="(item, index) in all_dropping_points"
                                    :key="index"
                                    @click.prevent="filter('dropping_points',item)"
                                >
                                    <v-list-tile-action>
                                        <v-checkbox v-model="filters.dropping_points" @click.prevent=""
                                                    :value="item"></v-checkbox>
                                    </v-list-tile-action>
                                    <v-list-tile-title>{{ item }}</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                        <v-layout row>
                            <v-flex>
                                <v-list class="applied-filter px-2" v-show="searched">
                        <span v-for="bus_type in filters.bus_types" class="px-2">
                            <span>{{bus_type}}</span>
                            <i class="fa fa-times filter_close"></i>
                        </span>
                                    <span v-for="stop in filters.stops" class="px-2">
                            <span>{{stop}}</span>
                            <i class="fa fa-times filter_close"></i>
                        </span>
                                </v-list>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
            </v-layout>
        </v-toolbar>

        <!--filter keys-->

        <v-container>
            <!--listings-->
            <v-layout row>
                <v-flex>
                    <!--<v-list two-line >-->
                        <template v-for="bus in buses" >
                            <v-card flat class="my-3">
                                <v-card-text>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <b>{{bus.name}} /
                                                <small class="light-gray">{{bus.bus_type.name}}</small>
                                            </b>
                                            <!--<p>-->
                                            <!--<a v-bind:href="'#bus_stops_'+bus.id" style="text-decoration: none"-->
                                            <!--data-toggle="collapse">-->
                                            <!--Bus stops-->
                                            <!--</a>-->
                                            <!--<span style="margin-left: 40px">-->
                                            <!--<a href="#">Policies</a></span>-->
                                            <!--</p>-->
                                        </div>
                                        <div class="col-sm-2">
                                            <b>5 Ratings </b>
                                            <span class="light-gray"
                                                  v-for='amenity in bus.amenities'>{{amenity.name }}&nbsp</span>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <b>Rs:{{bus.route.price}}</b>
                                        </div>
                                        <SeatComponent :bus="bus"></SeatComponent>

                                    </div>
                                </v-card-text>
                            </v-card>
                            <!--<div class="card-body">-->

                                <!--<div class="row collapse  in" v-bind:id="'bus_stops_'+bus.id">-->
                                    <!--<div class="col-sm-3" v-for='city in bus.route.cities'>-->
                                        <!--<p>{{city.name}}</p>-->
                                        <!--<span v-for='stop in bus.stops' v-if='stop.city_id === city.id'>-->
                                            <!--&nbsp;-->
                                            <!--<b>{{stop.time}}</b>-->
                                            <!--&nbsp;-->
                                            <!--{{stop.name}}<br>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </template>
                    <!--</v-list>-->
                </v-flex>
            </v-layout>
            <!--end listings-->
        </v-container>

    </v-app>
</template>

<script>
    import SeatComponent from "./SeatComponent";

    export default {
        data() {
            return {
                dialog: false,
                valid: true,
                sourceRules: [
                    v => !!v || 'Source is required',
                ],
                destRules: [
                    v => !!v || 'Destination is required',
                ],
                todaydate: [],
                menu2: false,
                travel_operator: '',
                bus_type: '',
                seats: [],
                route: [],
                buses: {},
                cities: [],
                all_travel_operators: [],
                all_bus_types: [],
                // filter_bus_type: [],
                all_boarding_points: [],
                all_dropping_points: [],
                filters: {
                    bus_types: [],
                    stops: [],
                    travel_operators: []
                },
                isFilter: false,
                searched: false,
                checkedShift: [],
                source: '',
                destination: '',
                amenities: [],
                stops: [],
                date: null,
                menu: false,
            }
        },
        components: {
            SeatComponent
        },
        mounted() {
            this.todaydate = new Date().toISOString().slice(0, 10);
            axios.get('api/cities').then(response => (
                this.cities = response.data
            ));
            this.source = Number(this.$route.query.srcId);
            this.destination = Number(this.$route.query.destId);

            this.search();
            console.log('Component mounted.');
        },

        computed: {},

        methods: {
            search() {
                // if (this.$refs.form.validate()) {
                let data = {
                    source: this.source,
                    destination: this.destination,
                };
                this.$store.dispatch('search', data)
                    .then(response => {
                        this.searched = true,
                            this.buses = response.data.buses,
                            // this.filter_bus_type=[],
                            this.all_bus_types = [],
                            this.getAllBusTypes(),
                            this.all_travel_operators = [],
                            this.getAllTravelOperators(),
                            this.all_boarding_points = [],
                            this.all_dropping_points = [],
                            this.getAllStops()
                    })
                    .catch(response => {
                    })

            },
            filter(key, value) {
                // this.filters[key].includes(value) ?
                //     this.filters[key].pop(value) : this.filters[key].push(value);
                if (this.filters[key].includes(value)) {
                    for (var i = 0; i < this.filters[key].length; i++) {
                        if (this.filters[key][i] === value) {
                            this.filters[key].splice(i, 1);
                        }
                    }
                } else {
                    this.filters[key].push(value)
                }
                let data = {
                    source: this.source,
                    destination: this.destination,
                    filters: {
                        bus_types: this.filters[key],
                        travel_operators: this.filters[key]
                    }
                };
                axios.post('api/search', data).then(response => {
                    console.log(response.data.buses),
                        this.searched = true,
                        this.buses = response.data.buses
                    // this.routes= response.data
                });
            },
            getAllBusTypes() {
                this.buses.forEach((bus) => {
                    if (!this.all_bus_types.includes(bus.bus_type.name))
                        this.all_bus_types.push(bus.bus_type.name)
                });

//                console.log(this.bus_types)
            },
            getAllTravelOperators() {
                this.buses.forEach((bus) => {
                    if (!this.all_travel_operators.includes(bus.name))
                        this.all_travel_operators.push(bus.name)

                });

            },
            getAllStops() {
                this.buses.forEach((bus) => {
                    bus.stops.forEach((stop) => {
                        if (this.source == stop.city_id) {
                            if (!this.all_boarding_points.includes(stop.name))
                                this.all_boarding_points.push(stop.name)
                        }
                        if (this.destination == stop.city_id) {
                            if (!this.all_dropping_points.includes(stop.name))
                                this.all_dropping_points.push(stop.name)
                        }
                    })
                });
            }


        }
    }
</script>
