<template>
    <v-container>
        <v-layout row>
            <v-flex text-right>
                <v-btn justify-end outline color="blue" @click.native="showSeats= !showSeats">
                    Load Seats
                </v-btn>
            </v-flex>
        </v-layout>
        <v-layout row wrap v-if="showSeats" class="bg-light">
            <v-flex>
                <v-container>
                    <v-layout row wrap>
                        <v-flex class="px-5" sm6>
                            <v-layout row>
                                <v-flex>

                                    <p>Please select one of the available seats to proceed.</p>
                                    <!--Seat will appear here-->
                                    <div id="seat_layout">
                                        <div class="seat_layout">
                                            <div class="cabin_seats pull-left">
                                           <span v-for="(seat,index) in cabin_seats">
                                                <span class="fa-stack fa-lg seat-item" v-if="seat.status"
                                                      data-price="" @click="toggleSeat(seat)">
                                                    <i class="fa fa-stack-2x"
                                                       :class="{
                                                       'img-seat-selected':seat.selected,
                                                       'img-seat-booked':booked_seats.includes(seat.id),
                                                       'img-seat':!seat.selected} || !booked_seats.includes(seat.id)"></i>
                                                    <span class="fa-stack-1x seat_text">{{seat.name}}</span>
                                                </span>
                                                <span class="fa-stack fa-lg seat-item" v-else>
                                                             <i class="fa fa-stack-2x img-seat-o"></i>
                                                             <span class="fa-stack-1x seat_text">{{seat.name}}</span>
                                                </span>
                                                <br v-if="seat_type ==='1X2' && (index+1) %3 === 0">
                                                <br v-if="seat_type ==='2X2' && ((index+1) %4 === 0)">
                                            </span>
                                            </div>
                                            <div class="pull-right">
                                                <img src="admin/img/steering.png"
                                                     style="margin-bottom:10px;" height="40px" width="40px">
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr style="color: lightblue">
                                            <span v-for="(seat,index) in back_seats">
                                                <span class="fa-stack fa-lg seat-item" v-if="seat.status"
                                                      data-price="" @click="toggleSeat(seat)">
                                                    <i class="fa fa-stack-2x"
                                                       :class="{
                                                       'img-seat-selected':seat.selected,
                                                       'img-seat-booked':booked_seats.includes(seat.id),
                                                       'img-seat':!seat.selected || !booked_seats.includes(seat.id)}"></i>
                                                    <span class="fa-stack-1x seat_text">{{seat.name}}</span>
                                                </span>
                                                <span class="fa-stack fa-lg seat-item" v-else>
                                                             <i class="fa fa-stack-2x img-seat-o"></i>
                                                             <span class="fa-stack-1x seat_text">{{seat.name}}</span>
                                                </span>
                                                <br v-if="seat_type ==='1X2' && (index+1) %4 === 0">
                                                <br v-if="seat_type ==='2X2' && ((index+1) %5 === 0)">
                                            </span>
                                        </div>
                                    </div>
                                </v-flex>
                            </v-layout>

                            <v-layout row class="py-5">
                                <v-flex>
                                    <img src="images/default_seat.png" height="25"
                                         width="25">
                                    <span>Available</span>
                                    <img src="images/seat_selected.png" height="25"
                                         width="25">
                                    <span>Selected </span>
                                    <img src="images/seat_booked.png" height="25"
                                         width="25">
                                    <span>Booked</span>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex sm6>
                            <v-card v-if="!showCheckout" elevation="0">
                                <v-card-text>
                                    <v-tabs fixed-tabs v-model="tab">
                                        <v-tab>
                                            Boarding Points
                                        </v-tab>
                                        <v-tab>
                                            Dropping Points
                                        </v-tab>

                                        <v-tab-item :key="1">
                                            <v-card flat>
                                                <v-card-text>
                                                    <v-radio-group v-model="selected_boarding_point"
                                                                   :mandatory="false">
                                                        <template v-for="boarding_point in boarding_points">
                                                            <v-radio @change="tabChange"
                                                                     :label="boarding_point.name"
                                                                     :value="boarding_point"></v-radio>
                                                        </template>
                                                    </v-radio-group>
                                                </v-card-text>
                                            </v-card>
                                        </v-tab-item>
                                        <v-tab-item :key="2">
                                            <v-card flat>
                                                <v-card-text>
                                                    <v-radio-group v-model="selected_dropping_point"
                                                                   :mandatory="false">
                                                        <template v-for="dropping_point in dropping_points">
                                                            <v-radio
                                                                    :label="dropping_point.name"
                                                                    :value="dropping_point"></v-radio>
                                                        </template>

                                                    </v-radio-group>
                                                </v-card-text>
                                            </v-card>
                                        </v-tab-item>

                                    </v-tabs>
                                    <v-divider></v-divider>
                                    <v-layout>
                                        <p>Seat No :
                                            <span v-for="(selected_seat,index) in selected_seats">{{selected_seat.name}}<span v-if="index !== selected_seats.length-1">,</span></span>
                                        </p>
                                    </v-layout>
                                    <v-layout>
                                        <p><span>Total Price :</span>
                                            <span>{{total_fare}} </span></p>
                                    </v-layout>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="secondary" block @click="showCheckout=!showCheckout"
                                           v-if="selected_boarding_point && selected_dropping_point">Continue
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card v-if="showCheckout" elevation="0">
                                <v-card-title>
                                    <v-layout>
                                        <v-flex>
                                            <h5>Boarding & Dropping Points</h5>
                                            <p>{{selected_boarding_point.name}} | {{selected_dropping_point.name}}</p>
                                        </v-flex>
                                        <v-flex>
                                            <v-btn pull-right @click="showCheckout=!showCheckout">change</v-btn>

                                        </v-flex>
                                    </v-layout>
                                </v-card-title>
                                <v-card-text>
                                    <v-divider></v-divider>
                                    <v-layout >
                                        <p>Seat No :
                                            <span v-for="(selected_seat,index) in selected_seats">{{selected_seat.name}}<span v-if="index !== selected_seats.length-1">,</span></span>
                                        </p>
                                    </v-layout>
                                    <v-layout>
                                        <p><span>Total Price :</span>
                                            <span>{{total_fare}} </span></p>
                                    </v-layout>
                                </v-card-text>
                                <v-card-actions>
                                        <v-btn
                                                color="secondary"
                                                block
                                                @click.prevent="checkout">Proceed to Checkout
                                        </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    export default {
        name: 'SeatComponent',
        props: ['bus'],
        // data: {
        //     select_name: null
        // },
        data() {
            return {
                showSeats: false,
                seat_type: '',
                seats: [],
                price: [],
                selected_seats: [],
                showCheckout: false,
                total_fare: null,
                tab: null,
                selected_boarding_point: null,
                selected_dropping_point: null,
                booked_seats: []



            }
        },
        mounted() {
            this.getSeatArrangement();
            this.bus.bookings.forEach(booking =>{
                booking.seats.forEach(seat => {
                    this.booked_seats.push(seat)
                })
            });
        },

        computed: {
            cabin_seats: function () {
                return this.seats.filter((seat) =>{
                    return seat.isCabin
                });
            },
            back_seats: function () {
                return this.seats.filter( (seat) => {
                    return !seat.isCabin
                });
            },
            boarding_points: function () {
                return this.bus.stops.filter((stop) => {
                    return stop.city_id == this.bus.route.cities[0].id
                })
            },
            dropping_points: function () {
                return this.bus.stops.filter((stop) => {
                    return stop.city_id == this.bus.route.cities[this.bus.route.cities.length - 1].id
                })
            },

        },

        methods: {
            getSeatArrangement() {
                this.$store.dispatch('getSeatArrangement', {bus_id: this.bus.id})
                    .then(response => {
                        for (let seat of response.data.seats) {
                            this.$set(seat, 'selected', false);
                        }

                        this.seat_type = response.data.seat_type;
                        this.seats = response.data.seats;
                    })
                    .catch(response => {
                    })
            },
            toggleSeat(seat) {
                seat.selected = !seat.selected;

                if (this.selected_seats.includes(seat)) {
                    for (let i = 0; i < this.selected_seats.length; i++) {
                        if (this.selected_seats[i] === seat) {
                            this.selected_seats.splice(i, 1);
                        }
                    }
                } else
                    this.selected_seats.push(seat);

                this.total_fare = this.selected_seats.length * this.bus.route.price;

                // }
            },
            tabChange() {
                this.tab = 1
                let params={

                }
            },
            checkout() {
                let params = {
                    selected_boarding_point:this.selected_boarding_point,
                    selected_seats:this.selected_seats,
                    total_fare:this.total_fare,
                    bus:this.bus
                }
                localStorage.setItem('params',JSON.stringify(params));

                this.$router.push({name: 'bustraveller'})
            }

        }
    }
</script>
