.p-5 {
    padding: 5px;
}

.panel {
    box-shadow: 0 0 8px 3px #e7e7e7;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.no-print {
    display: none !important;
}

.alert .alert-danger {
    background-color: #dd4b39 !important;
    color: white;
}

.location-icons a {
    color: #cccccc;
}

.loader-outer {
    position: relative;
}

.loader {
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: url('../img/ajax-loader.gif') no-repeat scroll center center rgba(153, 153, 153, 0.3);
    position: absolute;
}

.route-list {
    padding: 10px;
}

.light-label {
    color: #595a5c;
}

.bootstrap-timepicker-widget table td input {
    border: none;
}

.location-row {
    padding: 10px 0 10px 0;
    background: #fafafa;
}

.location-row:hover {
    background: #F2F2F2;
}

.location-icons {
    float: right;
    margin-right: 15px;
}

.location-icons a {
    margin-right: 15px;
}

.stops {
    margin-top: 10px;
}

.message {
    margin-right: 15px;
}

td {
    color: #666;
}

.route-locations {
    font-size: 12px;
    color: #777777;
}

.grey-color {
    color: #aaaaaa;
}

.seat_layout {
    /*width: 220px;*/
    border-radius: 2em;
    padding: 10px;
    box-shadow: 0 0 4px 2px #e7e7e7;
}

.seat_layout i {
    /*background: url('') no-repeat;*/
    /*color: #dddddd;*/
    /*margin: 2px;*/
    /*font-size: 40px;*/
}

.seat-item {
    cursor: pointer;
    margin: 2px;
}

.seat_text {
    font-size: 13px;
}

.cabin_seats {
    width: 120px;
}

.img-seat {
    background-image: url("../img/seat.png");
    background-size: contain;
    height: inherit;
    /*width: 40px;*/
    transform: rotate(90deg);
    padding: 5px !important;
    filter: opacity(45%);
    justify-content: center;
    border: none;
}

.img-seat-o {
    border: 2px solid #dddddd;
    height: inherit;
    filter: opacity(45%);
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bg-aqua {
    background-color: #607d8b !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 80px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.info-box-content {
    padding: 5px 5px;
    margin-left: 90px;
}



