
.bus-search-board
  //background: linear-gradient(rgba($normal-color, 0.6), rgba($normal-color, 0.6)), url(../images/buses/bg-nepal.jpg) center center
  //background: linear-gradient(rgba($normal-color, 0.6), rgba($normal-color, 0.6)), url(../images/buses/bg-nepal.jpg) center center
  background-size: cover
  //background: #fe7886

//.search-board
//  //background: rgba(0,0,0, 0.54)
//  //border-radius: 1.33rem
//  color: $white-color
//  padding: 5em
//
//.search-form
//  display: flex
//  background-color: $white-color
//  border-radius: 0.2rem
//  padding: 0.5rem
//  text-align: left

.search-board
  position: relative
  border-radius: 1.33rem
  h1
    color: $normal-color
    font-family: $heading-font
  .container
    position: relative
    z-index: 2
  .search-form
    background-color: $white-color
    box-shadow: 0 1px 5px #999
    border-radius: 0.5rem


.search-header
  background-color: #f8f8f8


  input
    border: 0
    margin-right: 2rem

    &:focus
      outline: none

  .inputSearch
    flex: 2

.footer-categories
  background-color: $dark-slate-color

  h5
    font-family: $heading-font
    color: lighten($normal-color, 32%)

  ul
    padding-left: 0

  li
    list-style: none
    padding-top: 0.25rem
    padding-bottom: 0.25rem

  li a
    font-size: 0.875rem
    color: lighten($normal-color, 70%)

  p
    font-size: 1rem
    color: lighten($normal-color, 70%)

.growing-numbers
  background-color: $white-color

  .header
    color: black
    font-size: 30px

  .red-text
    color: #e14e52
    font-size: 50px

.operator-footer-list
  background-color: #e5e5e5

  h5
    font-family: $heading-font
    color: black

  ul
    padding-left: 0

  li
    list-style: none
    float: left
    padding: 0 10px 0 0
    margin-right: 10px
    border-right: 1px solid #999
    line-height: 20px
    margin-bottom: 10px

  li a
    font-size: 0.875rem
    color: lighten($normal-color, 10%)


.promotion-banner
  position: relative
  margin: 0 auto

.offer-list
  background-color: white

  .header
    color: black
    font-size: 30px

  .padding
    padding: 10px

.top-cities
  background-color: #f8f8f8

  .header
    color: black
    font-size: 30px

  .padding
    padding: 10px

.primary-title
  background-color: white

.traveller
  .header
    color: black
    font-size: 25px

.contact-us
  background-color: #e5e5e5

  .header
    font-family: 'Open Sans', sans-serif
    color: black
    font-size: 30px
  .hero
    background-color: #e5e5e5

  .payNowWrapper
    width: 270px
    background-color: #fff

    box-shadow: 0 4px 8px 0 rgba(138,107,118,.08)
    border: .7px solid #bababa
    border-radius: 4px
    position: fixed
    display: block

  .payNowWrapper .paymentBtnWrapper
    padding: 20px 20px 15px
    text-align: center
    border-bottom: .7px solid #bababa
    background-color: #f2f9ff
    border-radius: 4px 4px 0 0

  .payNowWrapper .paymentBtn
    border-radius: 4px
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.2)
    padding: 15px
    width: 100%
  .payNowWrapper .totalPriceWrapper
    width: 100%
    padding: 20px
    padding-right: 18px

  .payNowWrapper .paymentItem
    -ms-flex-pack: justify
    justify-content: space-between
    padding: 10px 20px
    border-bottom: 1px solid #eaeaea


.site-section
  padding: 2.5em 0

