.search-form
    display: flex
    //background-color: $white-color
    border-radius: 0.2rem
    padding: 0.5rem
    text-align: left

.search-header
    //background-color: $dark-slate-color

.seat_layout
    float: left
    //transform: rotate(-90deg)
    border-radius: 2em
    background-color: white
    padding: 10px
    box-shadow: 0 0 4px 2px #e7e7e7
    height: inherit

.img-seat
    background-image: url("../../images/icons/seat.png")
    background-size: contain
    height: inherit
    /*width: 40px;*
    transform: rotate(90deg)
    padding: 5px !important
    filter: opacity(45%)
    justify-content: center

.img-seat-selected
    background-image: url("../../images/icons/seat_selected.png")
    background-size: contain
    height: inherit
    /*width: 40px;*
    transform: rotate(90deg)
    padding: 5px !important
    justify-content: center
    filter: opacity(100%)

.img-seat-booked
    cursor: default
    background-image: url("../../images/icons/seat_booked.png")
    background-size: contain
    height: inherit
    /*width: 40px;*
    transform: rotate(90deg)
    padding: 5px !important
    justify-content: center
    filter: opacity(100%)

.img-seat-o
    cursor: default
    height: inherit

.seat-item
    cursor: pointer
    margin: 2px

.seat_text
    font-size: 11px
    //transform: rotate(90deg)

