<template>
    <v-app>
        <v-layout wrap>
            <v-flex>
                <v-card>
                    <div class="site-section bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 mb-5">
                                    <v-flex>
                                        <v-form>
                                            <v-card>
                                                <v-card-title>
                                                    <p class="header"> Traveller Information</p>
                                                </v-card-title>
                                                <v-card-text>
                                                    <v-layout wrap>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Full Name</h5>
                                                            <v-text-field
                                                                    label="First Name"
                                                                    single-line
                                                                    v-model="fname"
                                                                    requried
                                                                    :rules="fnameRules"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Age</h5>
                                                            <v-text-field
                                                                    label="Age"
                                                                    single-line
                                                                    v-model="age"

                                                                    :rules="ageRules"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Email</h5>
                                                            <v-text-field
                                                                    label="Email"
                                                                    single-line
                                                                    v-model="email"
                                                                    required
                                                                    :rules="eRules"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Contact Number</h5>
                                                            <v-text-field
                                                                    label="Contact Number"
                                                                    single-line
                                                                    v-model="contact"
                                                                    required
                                                                    :rules="cRules"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Bus Name</h5>
                                                            <v-text-field
                                                                    label="Bus Name"
                                                                    single-line
                                                                    v-model="bus"
                                                                    readonly
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Gender</h5>
                                                            <v-autocomplete
                                                                    label="Gender"
                                                                    :items="Gender"
                                                                    single-line
                                                                    required
                                                                    :rules="genderRules"
                                                            ></v-autocomplete>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Seat No</h5>
                                                                <v-text-field
                                                                        label="Seat Number"
                                                                        single-line
                                                                        v-model="seats"
                                                                        item-text="name"
                                                                        item-value="seat_id"
                                                                        readonly
                                                                ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Price</h5>
                                                            <v-text-field
                                                                    label="price"
                                                                    single-line
                                                                    v-model="total_fare"
                                                                    item-text="name"
                                                                    readonly
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6 md6 px-5>
                                                            <h5>Boarding Points</h5>
                                                            <v-text-field
                                                                    label="Boarding point"
                                                                    single-line
                                                                    v-model="selected_boarding_point"
                                                                    readonly
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex px-3>
                                                            <v-checkbox
                                                                    label="I Agree to the T&Cs and Privacy Policy of e-yatri"
                                                                    value="text"
                                                                    :rules="checkRules"
                                                            ></v-checkbox>
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-flex class="text-xs-right">
                                                        <v-btn color="secondary" :disabled="!valid"
                                                               @click.prevent="openModel"> Proceed to Payment
                                                        </v-btn>
                                                    </v-flex>
                                                </v-card-text>
                                            </v-card>
                                        </v-form>
                                    </v-flex>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-card>
            </v-flex>
            <v-dialog v-model="dialog" width="600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Summary</h5>
                        <button type="button" @click="dialog = false" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <v-divider></v-divider>
                    <div class="modal-body px-5">
                        <div class="row">
                            <div class="col-25">
                                <label>Full Name:</label>
                            </div>
                            <div class="col-75">
                                {{fname}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Age:</label>
                            </div>
                            <div class="col-75">
                                {{age}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Email:</label>
                            </div>
                            <div class="col-75">
                                {{email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Contact:</label>
                            </div>
                            <div class="col-75">
                                {{contact}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Bus Name:</label>
                            </div>
                            <div class="col-75">
                                {{bus}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Boarding points:</label>
                            </div>
                            <div class="col-75">
                                {{selected_boarding_point}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Selected Seats:</label>
                            </div>
                            <div class="col-75">
                                {{seats}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Total Cost:</label>
                            </div>
                            <div class="col-75">
                                {{total_fare}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-xs-right" @click="makePayment">Pay with
                            Esewa
                        </button>
                        <button type="button" class="btn btn-primary text-xs-left" @click="submitFrom">Pay with Cash
                        </button>
                    </div>
                </div>
            </v-dialog>
        </v-layout>
    </v-app>
</template>
<script>
    import VueSelect from 'vue-select2'

    export default {
        components: {
            VueSelect
        },
        data() {

            return {
                dialog: false,
                valid: true,
                fnameRules: [
                    v => !!v || 'First Name is required',
                ],
                lnameRules: [
                    v => !!v || 'Last name is required',
                ],
                ageRules: [
                    v => !!v || 'Age is required',
                ],
                genderRules: [
                    v => !!v || 'Gender is required',
                ],
                eRules: [
                    v => !!v || 'E-mail is required',
                    v => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'

                ],
                cRules: [
                    v => !!v || 'Contact Number is required',
                ],
                checkRules: [
                    v => !!v || 'you must agree to continue!',
                ],
                Gender: ['Male', 'Female', 'Not Specified'],

                selected_info: [],
                fname: '',
                age: '',
                contact: '',
                email: '',
                output: '',
                selected_seats: [],
                total_fare: '',
                selected_boarding_point: '',
                bus: '',
                seats: [],
                seats_id: [],
                bus_id: []
            }
        },
        mounted() {
            // this.selected_seats = this.$route.params.selected_seats;
            // this.total_fare = this.$route.params.total_fare;
            // this.selected_boarding_point = this.$route.params.selected_boarding_point.name;
            // this.bus = this.$route.params.bus.name;
            let params = JSON.parse(localStorage.getItem('params'))
            this.selected_boarding_point = params.selected_boarding_point.name;
            this.selected_seats = params.selected_seats;
            this.selected_seats.forEach(seat=>{
                this.seats.push(seat.name);
            });
            this.selected_seats.forEach(seat=>{
                this.seats_id.push(seat.id);
            });
            this.total_fare = params.total_fare;
            this.bus = params.bus.name;
            this.bus_id = params.bus.id;

        },


        computed: {},

        methods: {
            submitFrom(e) {
                e.preventDefault();
                // let currentObj = this;
                axios.post('api/travelerDetails', {
                    fname: this.fname,
                    age: this.age,
                    email: this.email,
                    contact: this.contact,
                    bus: this.bus_id,
                    seats: this.seats_id,
                    total_fare: this.total_fare,
                    selected_boarding_point: this.selected_boarding_point,
                })
                    .then(function (response) {
                        // currentObj.output = response.data;
                        alert('Form Submitted')
                    })
                    .catch(function (error) {
                        alert('Fill the form properly')
                    })

            },
            makePayment() {
                // console.log(this.params);
                let path = "https://uat.esewa.com.np/epay/main";
                let params = {
                    amt: 1,
                    psc: 0,
                    pdc: 0,
                    txAmt: 0,
                    tAmt: 1,
                    pid: "ee2c3ca1-696b-4cc5-a6be-2c40d929d453",
                    scd: "test_merchant",
                    su: "http://merchant.com.np/page/esewa_payment_success",
                    fu: "http://merchant.com.np/page/esewa_payment_failed"
                }
                let form = document.createElement("form");
                form.setAttribute("method", "POST");
                form.setAttribute("action", path);

                for (let key in params) {
                    let hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);
                    form.appendChild(hiddenField);
                }

                document.body.appendChild(form);
                form.submit();
            },
            openModel() {
                this.dialog = true;
            }

        }
    }


</script>



