<template>
    <v-app>
        <v-container>

        </v-container>

    </v-app>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        mounted() {

        },

        computed: {},

        methods: {

        }
    }
</script>
