<template>
    <v-app>
    </v-app>
</template>

<script>
    import VueSelect from 'vue-select2'

    export default {
        components: {
            VueSelect
        },
        data() {
            return {

            }
        },
        mounted() {

        },

        computed: {},

        methods: {

        }
    }
</script>
