<template>
    <v-app>
        <section class="bus-search-board py-5">
            <v-container class="py-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="search-board text-center">
                            <h1>Search For Buses</h1>
                            <v-form
                                    ref="form"
                                    v-model="valid"
                                    lazy-validation
                                    class="search-form"
                            >
                                <v-layout wrap>
                                    <v-flex>
                                        <v-autocomplete
                                                v-model="source"
                                                :hint="`Source`"
                                                :items="cities"
                                                item-text="name"
                                                item-value="id"
                                                :label="`From`"
                                                persistent-hint
                                                prepend-icon="mdi-city"
                                                required
                                                :rules="sourceRules"
                                        >
                                        </v-autocomplete>
                                    </v-flex>
                                    <v-flex>
                                        <v-autocomplete
                                                v-model="destination"
                                                :hint="`Destination`"
                                                :items="cities"
                                                item-text="name"
                                                item-value="id"
                                                :label="`To`"
                                                persistent-hint
                                                required
                                                prepend-icon="mdi-city"
                                                :rules="destRules"
                                        >
                                        </v-autocomplete>
                                    </v-flex>
                                    <v-flex>
                                        <v-menu
                                                v-model="menu2"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                lazy
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                min-width="290px"
                                        >
                                            <v-text-field
                                                    slot="activator"
                                                    v-model="date"
                                                    label="Date"
                                                    hint="Departure"
                                                    prepend-icon="mdi-calendar"
                                                    readonly
                                            ></v-text-field>
                                            <v-date-picker :min="todaydate" v-model="date"
                                                           @input="menu2 = false"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                    <!--<v-flex >-->
                                    <!--<v-checkbox v-model="day" :label="`Day: ${day.toString()}`"></v-checkbox>-->
                                    <!--<v-checkbox v-model="night" :label="`Night: ${night.toString()}`"></v-checkbox>-->
                                    <!--</v-flex>-->
                                    <v-flex class="text-xs-center">
                                        <v-btn color="secondary" :disabled="!valid" @click.prevent="search"> Search
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </div>
                    </div>
                </div>
            </v-container>
        </section>
        <!--<section class="promotion-banner">-->
        <!--<v-layout>-->
        <!--<v-flex>-->
        <!--<v-card justify-center>-->
        <!--<p>Travel on E-yatri and save upto 150</p>-->
        <!--<img src="https://s3.rdbuz.com/Images/webplatform/Common/offer_tile.png">-->
        <!--<p>Use Code 292383</p>-->
        <!--</v-card>-->
        <!--</v-flex>-->
        <!--</v-layout>-->
        <!--</section>-->
        <!--offers-->
        <section class="offer-list py-5 text-center">
            <div class="container">
                <v-label>
                    <p class="header"> Super Offers!!</p>
                </v-label>
                <v-layout wrap>
                    <v-flex class="padding">
                        <v-card justify-center elevation="1">
                            <p>Travel on E-yatri and save upto 150</p>
                            <!--<a  href="#" style="background-image: url('/img/')"></a>-->
                            <img src="https://s3.rdbuz.com/Images/webplatform/Common/offer_tile.png">
                            <p>Use Code 292383</p>

                        </v-card>
                    </v-flex>
                    <v-flex class="padding">
                        <v-card justify-center elevation="1">
                            <p>Cash back upto 10%</p>
                            <img src="https://s3.rdbuz.com/Images/webplatform/Common/offer_tile.png">
                            <p>use code 232323</p>
                        </v-card>
                    </v-flex>
                    <v-flex class="padding">
                        <v-card justify-center elevation="1">
                            <p>Refer & Earn</p>
                            <img src="https://s3.rdbuz.com/Images/webplatform/Common/offer_tile.png">
                            <p>unlimited earning</p>
                        </v-card>
                    </v-flex>
                </v-layout>
            </div>
        </section>
        <!--Top Cities-->
        <section class="top-cities py-5 text-center">
            <div class="container">
                <v-label>
                    <p class="header"> Top Routes</p>
                </v-label>
                <v-layout wrap>
                    <template>
                        <v-flex class="padding">
                           <a> <v-card justify-center @click="$router.push({name:'search',query:{srcId:1,destId:2}})">
                                <v-img src="https://www.nepalguidetreks.com/timthumb.php?src=https://www.nepalguidetreks.com/public/images/package/big/banner-phewa-lake.gif&w=750&h=400&zc=1"
                                       height="180px"></v-img>
                                <v-card-title class="primary-title">
                                    <p>Kathmandu - Pokhara</p>
                                </v-card-title>
                            </v-card></a>
                        </v-flex>
                        <v-flex class="padding">
                           <a> <v-card justify-center @click="$router.push({name:'search',query:{srcId:1,destId:4}})">
                                <v-img src="http://www.gundrukpost.com/wp-content/uploads/2017/02/5ButwalJogiKuti-FB@2x.jpg" height="180px"
                                ></v-img>
                                <v-card-title class="primary-title">
                                    <p>Kathmandu - Butwal</p>
                                </v-card-title>
                            </v-card>
                           </a>
                        </v-flex>
                        <v-flex class="padding">
                           <a> <v-card justify-center @click="$router.push({name:'search',query:{srcId:2,destId:3}})">
                                <v-img src="http://bharatpurmun.gov.np/sites/bharatpurmun.gov.np/files/gallery/Narayangarh%20bazzar.jpg" height="180px"
                                ></v-img>
                                <v-card-title class="primary-title">
                                    <p>Pokhara - Narayangarh</p>
                                </v-card-title>
                            </v-card></a>
                        </v-flex>
                    </template>

                </v-layout>
            </div>
        </section>
        <!--Numbers are Growing section-->
        <section class="growing-numbers py-5 text-center">
            <div class="container">
                <v-layout justify-center>
                    <v-label>
                        <p class="header">The Numbers are Growing!</p>
                    </v-label>
                </v-layout>
                <v-layout>
                    <v-flex sm4 class="py-5">
                        <p>Customers</p>
                        <p class="red-text">5K</p>
                        <p>E-yatri is trusted by over 5 thousands happy customers.</p>
                    </v-flex>
                    <v-flex sm4 class="py-5">
                        <p>Operators</p>
                        <p class="red-text">500</p>
                        <p>network of over 500 bus operators worldwide</p>
                    </v-flex>
                    <v-flex sm4 class="py-5">
                        <p>Bus Tickets</p>
                        <p class="red-text">500</p>
                        <p>Over 500 trips booked using e-yatri</p>
                    </v-flex>
                </v-layout>
            </div>
        </section>
        <!--top operator section-->
        <section class="operator-footer-list py-5">
            <div class="container">
                <v-layout>
                    <v-label>
                        <p class="header">Top Operators</p>
                    </v-label>
                </v-layout>
                <v-layout wrap>
                    <v-flex>
                        <template v-for="operator in operators">
                            <li><a href="">{{operator.name}}</a></li>
                        </template>
                    </v-flex>
                </v-layout>
                <a href="#" class="more-link site-links ">All Operators </a>
            </div>
        </section>
        <!--footer section-->
        <section class="footer-categories py-5">
            <div class="container">
                <v-layout wrap>
                    <v-flex md4>
                        <h5>About E-yatri</h5>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Contact us</a></li>
                            <li><a href="">Offers</a></li>
                            <li><a href="">careers</a></li>
                        </ul>
                    </v-flex>
                    <v-flex md4>
                        <h5>Info</h5>
                        <ul>
                            <li><a href="">Terms & conditions</a></li>
                            <li><a href="">Insurance Patners</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </v-flex>
                    <v-flex md4>
                        <p>E-yatri is the Nepal's largest online bus ticket booking service trusted happy customers.
                            E-yatri offers bus ticket booking through its website,iOS and Android mobile apps for all
                            major routes.
                        </p>
                        <a href="#" class="ins-ic"><i class="fa fa-facebook-square"> </i></a>
                    </v-flex>
                </v-layout>
            </div>
        </section>
    </v-app>

</template>

<script>
    import VueSelect from 'vue-select2'

    export default {
        components: {
            VueSelect
        },
        data() {
            return {
                valid: true,
                sourceRules: [
                    v => !!v || 'Source is required',
                ],
                destRules: [
                    v => !!v || 'Destination is required',
                ],
                todaydate: [],
                menu2: false,
                day: false,
                night: false,
                route: [],
                routes: [],
                operators: [],
                buses: [],
                cities: [],
                all_travel_operators: [],
                all_bus_types: [],
                // filter_bus_type: [],
                all_boarding_points: [],
                all_dropping_points: [],
                filters: {
                    "bus_types": ['h', 'i'],
                    "stops": ['j', 'k']
                },
                isFilter: false,
                searched: false,
                checkedShift: [],
                source: '',
                destination: '',
                amenities: [],
                stops: [],
                date: null,
                menu: false,
            }
        },
        mounted() {
            this.todaydate = new Date().toISOString().slice(0, 10);
            axios.get('api/cities').then(response => (
//                console.log(response),
                this.cities = response.data
                // this.routes= response.data
            ));
            axios.get('api/operators').then(response => (
                // console.log(response),
                this.operators = response.data
                // this.routes= response.data
            ));


            console.log('Component mounted.');
        },

        computed: {},

        methods: {
            search() {
                if (this.$refs.form.validate()) {
                    let data = {
                        source: this.source,
                        destination: this.destination,
                    };
//                console.log(this.filter_datas);
                    this.$router.push({name: 'search', query: {srcId: this.source, destId: this.destination}})
                }

            },
            filter(key, value) {

                this.filters.hasOwnProperty(key, value) ?
                    this.filters[key].pop(value) : this.filters[key].push(value);

                let data = {
                    source: this.source,
                    destination: this.destination,
                    filters: {
                        bus_types: this.filters.bus_types
                    }
                };
                axios.post('api/search', data).then(response => {
                    console.log(response.data.buses),
                        this.searched = true,
                        this.buses = response.data.buses
                    // this.routes= response.data
                });
            },
            getAllBusTypes() {
                this.buses.forEach((bus) => {
                    if (!this.all_bus_types.includes(bus.bus_type.name))
                        this.all_bus_types.push(bus.bus_type.name)
                });

//                console.log(this.bus_types)
            },
            getAllTravelOperators() {
                this.buses.forEach((bus) => {
                    if (!this.all_travel_operators.includes(bus.name))
                        this.all_travel_operators.push(bus.name)

                });

            },
            getAllStops() {
                this.buses.forEach((bus) => {
                    bus.stops.forEach((stop) => {
                        if (this.source == stop.city_id) {
                            if (!this.all_boarding_points.includes(stop.name))
                                this.all_boarding_points.push(stop.name)
                        }
                        if (this.destination == stop.city_id) {
                            if (!this.all_dropping_points.includes(stop.name))
                                this.all_dropping_points.push(stop.name)
                        }
                    })
                });
            }
        }
    }
</script>

