*
    outline: none !important
    
body
    background-color: $white-color
    font-family: $normal-font, sans-serif
    font-size: 16px
    line-height: 1.5
    color: $normal-color
    padding-right: 0 !important

h1, h2, h3, h4, h5, h6
    font-family: $normal-bold-font

h1
    font-size: 3rem

.light-gray
    color: #777

//.container
//    padding-top: 0 !important
//    padding-bottom: 0 !important
